<!DOCTYPE html>
<!-- Set the AngularJS App -->
<html lang="en-us" ng-app="reaApp">
    <head>
        <title>REA Group Coding Challenge</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- Set page to responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load bootstrap via CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

        <!-- Load Angular -->
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-resource/angular-resource.min.js"></script>

        <!-- Load script files -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/controllers.js"></script>
    </head>
    <body>

        <!-- Navigation Markup here -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">REA Group Coding Challenge</a>
                </div>

                <ul class="nav">
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
            </nav>
        </header>

        <!-- Initialise AngularJS Controller -->
        <div class="container" ng-controller="homeController">

            <!-- Loop through results array of data.json to display key/properties -->
            <div class="results">
                <h2>Results:</h2>
                <div class="results-details" ng-repeat="result in data.results">
                    <p>{{ result }}</p>
                </div>
            </div>

            <!-- Loop through saved array of data.json to display key/properties -->
            <div class="saved">
                <h2>Saved:</h2>
                <div class="saved-details" ng-repeat="save in data.saved">
                    <p>{{ save }}</p>
                </div>
            </div>

        </div>

    </body>
</html>