<!DOCTYPE html>
<!-- Set the AngularJS App -->
<html lang="en-us" ng-app="reaApp">
    <head>
        <title>REA Group Coding Challenge</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- Set page to responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load bootstrap via CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/styles.css">

        <!-- Load Angular -->
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-resource/angular-resource.min.js"></script>

        <!-- Load script files -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/controllers.js"></script>
        <script src="scripts/directives.js"></script>
    </head>
    <body>

        <!-- Navigation Markup here -->
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">REA Group Coding Challenge</a>
                    </div>

                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Initialise AngularJS Controller -->
        <div class="container" ng-controller="homeController">

            <div class="row">
                <!-- Loop through results array of data.json to display key/properties -->
                <div class="results col-12 col-sm-6">
                    <h2>Results:</h2>
                    <div class="results-details row" ng-repeat="result in data.results">
                        <!-- Send result object to directive as resultObject and send addRemoveProperty method -->
                        <results-data result-object="result" add-property="addRemoveProperty(change, property)"></results-data>
                    </div>
                </div>

                <!-- Loop through saved array of data.json to display key/properties -->
                <div class="saved col-12 col-sm-6">
                    <h2>Saved:</h2>
                    <div class="saved-details row" ng-repeat="save in data.saved">
                        <!-- Send save object to directive as savedObject and send addRemoveProperty method -->
                        <saved-data saved-object="save" remove-property="addRemoveProperty(change, property)"></saved-data>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>